  <h1 class="titre1">Détails des liste tirées</h1>
    <table class="tableD">
      <thead>
        <tr>
          <th>N°</th>
          <th>Libelle liste</th>
          <th>Date d'importation</th>
         <th>Nombre tirage</th>
        </tr>
      </thead>
        <tr *ngFor= "let listpost of listposts">
          <td>{{listpost.id_listPost}}</td>
          <td>{{listpost.libelle}}</td>
          <td>{{listpost.date}}</td>
          <td>{{nombre}}</td>
        </tr>
        <!--<tr>
            <td> 3</td>
            <td>09/09/2022</td>
            <td>Liste 2</td>
        </tr>
        <tr>
            <td> 3</td>
            <td>09/09/2022</td>
            <td>Liste 2</td>
            <td></td>
        </tr>-->
    </table>

<div class="image">
    <img src="assets/image/tiragePhoto.jpg" alt="tirageAusort" class="detailListe">
</div>