<div class="maTable">
    <h1 class="titre1">Détails des liste tirées</h1>
    <table class="tableD">
      <thead>
        <tr>
          <th>N°</th>
          <th>Libelle liste</th>
          <th>Date d'importation</th>
          <th>Nombre tirage</th>
          <th>Liblle tirage</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Liste 1</td>
          <th>04-08-2022</th>
          <th>03</th>
          <td>Kalanso</td>
          
        </tr>
        <tr>
          <td>2</td>
          <td>Liste 2</td>
          <th>01-09-2022</th>
          <th>02</th>
          <td>Aws</td>
          
        </tr>
        <tr>
          <td>3</td>
          <td>Liste 3</td>
          <th>16-04-2022</th>
          <th>05</th>
          <td>Python</td>
          
          </tr>
          <tr>
            <td>4</td>
            <td>Liste 4</td>
            <th>31-12-2022</th>
            <th>08</th>
            <td>Super Codeur</td>
            
          </tr>
        </tbody>
    </table>
</div>
<div class="image">
    <img src="assets/image/tiragePhoto.jpg" alt="tirageAusort" class="detailListe">
</div>