.titre1{
    position: absolute;
    margin-top: -65px;
    margin-left: 230px;
}
.tableD{
    border-collapse: collapse;
    min-width: 400px;
    width: auto;
    box-shadow: 0px 5px 50px rgb(0 0 0 / 15%);
    cursor: pointer;
    margin: 224px auto;
    margin-left: 93px;
    border: 2px solid #263842;
    margin-top: 259px;
}
thead tr{
    background-color: #263842;
    color: white;
    text-align: left;
}
th, td{
    padding: 15px 20px;
}
tbody, tr, td, th{
    border: 1px solid #ddd;

}