.postu{
    position: absolute;
    margin-top: 140px;
    margin-left: 88px;
    width: 85%;
    height: auto;
}

thead tr{
    background-color: #263842;
    color: white;
    text-align: left;
}
th, td{
    padding: 15px 20px;
}
tbody, tr, td, th{
    border: 1px solid #ddd;

}