.poly2{
position: absolute;
width: 133.43px;
height: 168.3px;
left: 944.1px;
top: 875.81px;

background: #FFFFFF;
transform: rotate(-90.91deg);
}
.container1{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: -275px;
    margin-left: 128px;
    width: 16px;
    line-height: 29px;
}
.form1{
    width: 251px;
    border-right: 124px solid #EDC400;
    border: 2px solid #EDC400;
    margin-top: -424px;
    margin-left: 236px;
    border-radius: 12px;

}
.contenair2{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: -275px;
    margin-left: 128px;
    width: 16px;
    line-height: 29px;

}
.form2{
    width: 312px;
    margin-top: 315px;
    margin-left: 24px;
    border: 2px solid #EDC400;
    border-radius: 12px;
}
.form3{
    width: 312px;
    margin-top: 315px;
    margin-left: 111px;
    border: 2px solid #EDC400;
    border-radius: 12px;
    
}
.container{
    margin-left: 19vh;
    margin-top: 22vh;
    width: 72vh;
    height: 67vh;
    background: #263842;
    border-radius: 2rem;
}
.pom{
    margin-left: -9px;
    margin-top: -89px;
    height: -40px;
    width: 164px;
    border-left: 316px solid transparent;
    border-right: 123px solid #EDC400;
    border-top: 111px solid transparent;
    border-bottom: 95px solid transparent;
}

.box{
    margin-left: 20.8vh;

    margin-top: -37.5vh;
    height: 0px;
    width: 150px;
    border-left: 20px solid #EDC400;
    border-right: 20px solid #EDC400;
    border-top: 20px solid #EDC400;
    border-bottom: 20px solid #EDC400;
    border-radius: 2rem;
}
.box1{
    margin-left: 20.8vh;

    margin-top: 10vh;
    height: 0px;
    width: 150px;
    border-left: 20px solid #EDC400;
    border-right: 20px solid #EDC400;
    border-top: 20px solid #EDC400;
    border-bottom: 20px solid #EDC400;
    border-radius: 2rem;
}
.box2{
    margin-left: 40.8vh;

    margin-top: 6vh;
    height: 0px;
    width: 10px;
    border-left: 80px solid #EDC400;
    border-right: 0px solid #EDC400;
    border-top: 20px solid #EDC400;
    border-bottom: 20px solid #EDC400;
    border-radius: 1rem;
}
.pom1{
    margin-left: 24.2vh;

    margin-top: 2.5vh;
    height: 0px;
    width: 0px;
    border-left: 50px solid transparent;
    border-right: 50px solid #FFFFFF;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}
.couleur{
    color: white;
    margin-left: 16.2vh;

    margin-top: 2.5vh;
    height: 0px;
    width: 0px;

}
svg{
    position: absolute;
    margin-top: 21px;
    margin-left: 137px;
    color:#EDC400;
}
input{
    border-radius: 43px;
    width: 242px;
    height: 23px;
}
label{
    color: white;
}

button{
    border-radius: 51px;
    background-color: #EDC400;
    margin-left: 0vh;
    margin-top: 1vh;
}
.photoTir{
    box-sizing: border-box;
    position: absolute;
    width: 346px;
    height: 430px;
    left: 840px;
    top: 154px;
    border-radius: 14px;
}


h1{
    position: absolute;
    top: 175px;
    margin-left: 602px;
    
}
