/*.formulaire{
    display: flex;
    position: absolute;
    margin-top: 188px;
    margin-left: 3vh;
    width: 24vh;
    height: 4vh;
    line-height: 12px;
}*/
.poly2{
position: absolute;
width: 133.43px;
height: 168.3px;
left: 944.1px;
top: 875.81px;

background: #FFFFFF;
transform: rotate(-90.91deg);
}
.container1{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: -275px;
    margin-left: 128px;
    width: 16px;
    line-height: 29px;
}


.container{
    margin-left: 7vh;
    margin-top: 26vh;
    width: 80vh;
    height: 49vh;
    background: #263842;
    border-radius: 2rem;
}


.tri{
    margin-left: 24vh;
    
    margin-top: 1vh;
    width: 0vh;
    height: 42.5vh;
    background: #263842;
    border-radius: 2rem;
    border-left: 100px solid transparent;
    border-right: 100px solid red;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
}

.polygon{
    margin-left: 10vh;
    margin-top: 60vh;
    width: 40vh;
    height: 20vh;
    background: #263842;
    border-radius: 2rem;
}
    

.pom{
    margin-left: 15px;
    margin-top: -252px;
    height: -40px;
    width: 68px;
    border-left: 315px solid transparent;
    border-right: 124px solid #EDC400;
    border-top: 105px solid transparent;
    border-bottom: 113px solid transparent;
}

.box{
    margin-left: 20.8vh;
    
    margin-top: -37.5vh;
    height: 0px;
    width: 150px;
    border-left: 20px solid #EDC400;
    border-right: 20px solid #EDC400;
    border-top: 20px solid #EDC400;
    border-bottom: 20px solid #EDC400;
    border-radius: 2rem; 
}
.box1{
    margin-left: 20.8vh;
    
    margin-top: 10vh;
    height: 0px;
    width: 150px;
    border-left: 20px solid #EDC400;
    border-right: 20px solid #EDC400;
    border-top: 20px solid #EDC400;
    border-bottom: 20px solid #EDC400;
    border-radius: 2rem; 
}
.box2{
    margin-left: 40.8vh;
    
    margin-top: 6vh;
    height: 0px;
    width: 10px;
    border-left: 80px solid #EDC400;
    border-right: 0px solid #EDC400;
    border-top: 20px solid #EDC400;
    border-bottom: 20px solid #EDC400;
    border-radius: 1rem; 
}
.pom1{
    margin-left: 24.2vh;
    
    margin-top: 2.5vh;
    height: 0px;
    width: 0px;
    border-left: 50px solid transparent;
    border-right: 50px solid #FFFFFF;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}
.couleur{
    color: white;
    margin-left: 16.2vh;
    
    margin-top: 2.5vh;
    height: 0px;
    width: 0px;

}
svg{
    position: absolute;
    margin-top: 82px;
    margin-left: -55px;;
}
input{ 
    border-radius: 43px;
    width: 242px;
    height: 23px;
}
label{
    color: white;
}

button{
    border-radius: 51px;
    background-color: #EDC400;
}
.photoTir{
    box-sizing: border-box;
    position: absolute;
    width: 514px;
    height: 350px;
    left: 804px;
    top: 150px;
    border-radius: 50px;
}
