.poly2{
position: absolute;
width: 133.43px;
height: 168.3px;
left: 944.1px;
top: 875.81px;

background: #FFFFFF;
transform: rotate(-90.91deg);
}
.container1{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: -275px;
    margin-left: 128px;
    width: 16px;
    line-height: 29px;
}
.form1{
    width: 251px;
    border-right: 124px solid #EDC400;
    border: 2px solid #EDC400;
    margin-top: -424px;
    margin-left: 230px;
    border-radius: 12px;

}
.contenair2{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: -275px;
    margin-left: 128px;
    width: 16px;
    line-height: 29px;

}
.form2{
    width: 312px;
    margin-top: 315px;
    margin-left: 24px;
    border: 2px solid #EDC400;
    border-radius: 12px;
}
.form3{
    width: 312px;
    margin-top: 315px;
    margin-left: 103px;
    border: 2px solid #EDC400;
    border-radius: 12px;
    
}
.container{
    margin-left: 19vh;
    margin-top: 22vh;
    width: 72vh;
    height: 67vh;
    background: #263842;
    border-radius: 2rem;
}
.pom{
    margin-left: -9px;
    margin-top: -89px;
    height: -40px;
    width: 164px;
    border-left: 316px solid transparent;
    border-right: 123px solid #EDC400;
    border-top: 111px solid transparent;
    border-bottom: 95px solid transparent;
}
.segond{
    height: 3017px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-left: -77.9vh;
    margin-top: -30vh;
    width: 226vh;
}
.deux{
    height: 2px;
    
    border-left: 100px solid #EDC400;
    border-right: 100px solid transparent;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
}

.box{
    margin-left: 20.8vh;

    margin-top: -37.5vh;
    height: 0px;
    width: 150px;
    border-left: 20px solid #EDC400;
    border-right: 20px solid #EDC400;
    border-top: 20px solid #EDC400;
    border-bottom: 20px solid #EDC400;
    border-radius: 2rem;
}
.box1{
    margin-left: 20.8vh;

    margin-top: 10vh;
    height: 0px;
    width: 150px;
    border-left: 20px solid #EDC400;
    border-right: 20px solid #EDC400;
    border-top: 20px solid #EDC400;
    border-bottom: 20px solid #EDC400;
    border-radius: 2rem;
}
.box2{
    margin-left: 40.8vh;

    margin-top: 6vh;
    height: 0px;
    width: 10px;
    border-left: 80px solid #EDC400;
    border-right: 0px solid #EDC400;
    border-top: 20px solid #EDC400;
    border-bottom: 20px solid #EDC400;
    border-radius: 1rem;
}
.pom1{
    margin-left: 24.2vh;

    margin-top: 2.5vh;
    height: 0px;
    width: 0px;
    border-left: 50px solid transparent;
    border-right: 50px solid #FFFFFF;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}
.pom2{
    margin-left: 10vh;
    margin-top: -5vh;
    height: 0px;
    width: 2px;
    border-left: 0vh solid transparent;
    border-right: 50px solid #263842;
    border-top: 40px solid transparent;
    border-bottom: 32px solid transparent;  
}

.couleur{
    color: white;
    margin-left: 16.2vh;

    margin-top: 2.5vh;
    height: 0px;
    width: 0px;
}
.newTir2{
    display: flex;
    justify-content: center;
    align-content: flex-end;
    margin-top: -37px;
    font-family: sans-serif;
    margin-right: 29px;
    margin-left: -94px;
    width: 10vh;
    font-size: 2.5vh;
}
.newTir1{
    display: flex;
    justify-content: center;
    align-content: flex-end;
    margin-top: -32px;
    font-family: sans-serif;
    position: absolute;
    margin-right: 161px;
    margin-left: -63px;
    width: 10vh;
    font-size: 2.5vh;
}
.rectangle2{
    margin-left: 102vh;
    margin-top: -427vh;
    width: 20vh;
    height: 12vh;
    background-color: #EDC400;
    border-radius: 4vh;

}
svg{
    position: absolute;
    margin-top: 9px;
    margin-left: 145px;
    color: #EDC400;
    width: 4.3vh;
}
input{
    border-radius: 43px;
    width: 242px;
    height: 23px;
}
label{
    color: white;
}

button{
    border-radius: 51px;
    background-color: #EDC400;
    margin-left: 0vh;
    margin-top: 1vh;
}
.photoTir{
    box-sizing: border-box;
    position: absolute;
    width: 346px;
    height: 355px;
    left: 900px;
    top: 229px;
    border-radius: 14px;
}


h1{
    position: absolute;
    top: 140px;
    margin-left: 940px;
    
}
