.menu{
    position: absolute;
    width: 97%;
    height: 100px;
    left: 21px;
    right: 21px;
    top: 20px;
    background: #263842;
}
ul {
    padding:0;
    margin:0;
    list-style-type:none;
    }
li {
    margin-left:2px;
    float:left; /*pour IE*/
    }
   ul li a {
    display:block;
    float:left;   
    width:100px;
    background-color:white;
    color:black;
    text-decoration:none;
    text-align:center;
    padding:5px;
    border:2px solid;
    /*pour avoir un effet "outset" avec IE :*/
    border-color:white;
}
ul li a:hover {

    background-color:white;
    border-color:#EDC400;
} 
.acc{
    position: absolute;
    right: 317px;
    top: 35px;
}
.tir{
    position: absolute;
    right: 190px;
    top: 35px;
}

.detailTir{
    position: absolute;
    right: 63px;
    top: 35px;

}

.logo{

    position: absolute;
    left: 42px;
    top: 35px;

}

.foot{
    margin: 1px;
    position: fixed;
    bottom: 1px;
    left: 0px;
    width:100%;
    background: #263842;
    text-align: center;
    color: white

}

.nbreTirage{
    position: absolute;
    width: 1647px;
    height: 182px;
    left: 41px;
    top: 35px;
    background-color: #263842;
  
}
.imageLog{
    display: block;
    float: left;
    position: absolute;
    top: 35px;
    margin-top: -24px;
    margin-left: 32px;
    width: 145px;
    background-color: white;
    height: 75px;
}