<h1 class="titreTir">Résultat du tirage !</h1>

<div>
    <table class="tableTir">
      <thead>
        <tr>
          <th>Identifiant postulant</th>
          <th>Mail</th>
          <th>Nom</th>
          <th>Tel</th>
          <th>Prenom</th>
        </tr>
      </thead>
        <tr  *ngFor= "let posttirer of posttirers | paginate:{itemsPerPage :5, currentPage:p}; let id = index" >
          <td>{{posttirer[0]}}</td>
          <td>{{posttirer[1]}}</td>
          <td>{{posttirer[2]}}</td>
          <td>{{posttirer[3]}}</td>
          <td>{{posttirer[4]}}</td>
        </tr>
    </table>
    <pagination-controls (pageChange)="p = $event" class="pagination"></pagination-controls> 
  </div>
 