<div class="rectangle">
        <div class="pom" > <h3 class="textTrie" > <span class="textNbreTirage" >{{nbretirage}}</span> <span class="textTirageEf">Tirage effectués</span></h3> </div>
</div>

<div class="rectangle1">
    <div class="pom1"> <h3 class="textListe"> <span class="textNbreListe">{{listtirers.length}}</span> <span class="listTirer">Liste tirées</span></h3> </div>
</div>

<div class="rectangle2">
    <div class="pom2"> <h3 class="textNewTir1"> <span class="newTir1">Nouveau</span> <span class="newTir2">Tirage</span></h3> </div>
</div>

<div class="container">
  <h1 class="titre1">Détails des liste tirées</h1>
  <table class="tableD">
    <thead>
      <tr>
        <th>N°</th>
        <th>Libelle liste</th>
        <th>Date d'importation</th>
       <th>Nombre tirage</th>
       <th>Action</th>
      </tr>
    </thead>
      <tr *ngFor= "let listTirer of listtirers | paginate:{itemsPerPage :5, currentPage:p}; let id = index">
        <td>{{listTirer[0]}}</td>
        <td>{{listTirer[1]}}</td>
        <td>{{listTirer[2]}}</td>
        <td>{{tiragesurliste}}</td>
       <!-- <td>{{nombre}}</td> -->
        <td><a (click)="goToDetailTirage(listTirer[0])" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
          <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
          <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
        </svg></a></td>
      </tr>
  </table> 
  
</div>

<!--<pagination-controls (pageChange)="p = $event" class="pagination"></pagination-controls> -->

  