<div class="rectangle">
        <div class="pom"> <h3 class="textTrie"> <span class="textNbreTirage">25</span> <span class="textTirageEf">Tirage effectués</span></h3> </div>
</div>

<div class="rectangle1">
    <div class="pom1"> <h3 class="textListe"> <span class="textNbreListe">06</span> <span class="listTirer">Liste tirées</span></h3> </div>
</div>

<div class="rectangle2">
    <div class="pom2"> <h3 class="textNewTir1"> <span class="newTir1">Nouveau</span> <span class="newTir2">Tirage</span></h3> </div>
</div>

<div class="container">
    <h1>Détails des liste tirées</h1>
    <table class="table">
      <thead>
        <tr>
          <th>N°</th>
          <th>Libelle liste</th>
          <th>Nombre de tirage / liste</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Liste 1</td>
          <td>05</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Liste 2</td>
          <td>06</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Liste 3</td>
          <td>05</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Liste 4</td>
            <td>05</td>
          </tr>
        </tbody>
    </table>
</div>

<div class="pagination">1/2 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
  </svg></div>

  <div class="voirPlus"><button>Voir <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
  </svg></button></div>