<div class="rectangle">
        <div class="pom"> <h3 class="textTrie"> <span class="textNbreTirage">25</span> <span class="textTirageEf">Tirage effectués</span></h3> </div>
</div>

<div class="rectangle1">
    <div class="pom1"> <h3 class="textListe"> <span class="textNbreListe">06</span> <span class="listTirer">Liste tirées</span></h3> </div>
</div>

<div class="rectangle2">
    <div class="pom2"> <h5 class="textNewTir1"> <span class="newTir1">Nouveau</span> <span class="newTir2">Tirage</span></h5> </div>
</div>

<div class="container">
    <h1>Détails des liste tirées</h1>
    <h2>
    <table class="table">
      <thead>
        <tr>
          
          <th>Libelle liste</th>
          <th>Nombre de tirage / liste</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Liste 1</td>
          <td>11</td>
          <td>05</td>
        </tr>
        <tr>
          <td>Liste 2</td>
          <td>20</td>
          <td>06</td>
        </tr>
        <tr>
          <td>Liste 3</td>
          <td>13</td>
          <td>05</td>
          </tr>
          <tr>
            <td>Liste 4</td>
            <td>17</td>
            <td>05</td>
          </tr>
        </tbody>
    </table>
  </h2>
</div>

<div class="pagination">1/2 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
  </svg></div>

  