.rectangle{
        margin-left: 8vh;
    margin-top: 50vh;
    width: 40vh;
    height: 17vh;
    background-color: #EDC400;
    
  
}
.rectangle1{
    
    margin-left: 8vh;
    margin-top: 26vh;
    width: 40vh;
    height: 17vh;
    background-color: #EDC400;
}


.rectangle2{
    margin-left: 21vh;
    margin-top: 20vh;
    width: 20vh;
    height: 12vh;
    background-color: #EDC400;
    border-radius: 4vh;

}
.pom{
    margin-left: 18.2vh;
    margin-top: -20.5vh;
    height: 0px;
    width: 0px;
    border-left: 4px solid transparent;
    border-right: 139px solid #263842;
    border-top: 54px solid transparent;
    border-bottom: 57px solid transparent;
}

.pom1{
    margin-left: 18.2vh;
    margin-top: -19.5vh;
    height: 0px;
    width: 0px;
    border-left: 4px solid transparent;
    border-right: 139px solid #263842;
    border-top: 54px solid transparent;
    border-bottom: 57px solid transparent;
}

.pom2{
    margin-left: 10vh;
    margin-top: -16vh;
    height: 1px;
    width: 0px;
    border-left: 0vh solid transparent;
    border-right: 50px solid #263842;
    border-top: 36px solid transparent;
    border-bottom: 38px solid transparent;  
}

.textTrie{
    display: flex;
    justify-content: center;
    align-content: flex-end;
    margin-top: -82px;
    font-family: sans-serif;
    width: 10vh;
}
.textNbreTirage{
    display: flex;
    justify-content: center;
    align-content: flex-end;
    margin-top: 39px;
    font-family: sans-serif;
    margin-right: 128px;
    margin-top: 36px;
    width: 10vh;
    font-size: 8vh;
}
.textTirageEf{
    display: flex;
    justify-content: center;
    align-content: flex-end;
    position: absolute;
    margin-top: 85px;
    margin-right: 131px;
    margin-left: 21px;
    font-family: sans-serif;
    width: 10vh;
    font-size: 3vh;
}

.textListe{
    display: flex;
    justify-content: center;
    align-content: flex-end;
    margin-top: 44px;
    font-family: sans-serif;
    width: 10vh;
}

.textNbreListe{
    display: flex;
    justify-content: center;
    align-content: flex-end;
    margin-top: -84px;
    font-family: sans-serif;
    position: absolute;
    margin-right: 136px;
    margin-left: 5px;
    width: 10vh;
    font-size: 8vh;
}
.listTirer{
    display: flex;
    justify-content: center;
    align-content: flex-end;
    position: absolute;
    margin-top: -21px;
    margin-right: 161px;
    margin-left: 60px;
    font-family: sans-serif;
    width: 35vh;
}
.textNewTir1{
    display: flex;
    justify-content: center;
    align-content: flex-end;
    margin-top: 44px;
    font-family: sans-serif;
    width: 10vh;
}
.newTir1{
    display: flex;
    justify-content: center;
    align-content: flex-end;
    margin-top: -65px;
    font-family: sans-serif;
    position: absolute;
    margin-right: 161px;
    margin-left: 39px;
    width: 10vh;
    font-size: 2.5vh;
}
.newTir2{
    display: flex;
    justify-content: center;
    align-content: flex-end;
    margin-top: -37px;
    font-family: sans-serif;
    margin-right: 29px;
    margin-left: -94px;
    width: 10vh;
    font-size: 2.5vh;
}
.rectangle3{
    width: 540px;
    height: 67px;
    position: absolute;
    margin-top: -416px;
    margin-left: 797px;
    margin-right: -10px;
    border: solid #263842;
}

.detailListT{
    display: flex;
    justify-content: center;
    align-content: flex-end;
    margin-top: 14px;
    font-family: sans-serif;
    font-size: xx-large;
}
.container{
    margin-top: -425px;
    margin-right: 98px;
    margin-left: 813px
}
.table{
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    margin-left: -260px;
    height: 333px;
    width: 110vh;
    border: #263842;
    border-collapse: collapse;
}
h1{
    margin-left: -38vh;
    margin-left: -8vh;
    margin-top: 0vh;
    
}

tr{
    padding: 10px;
    border-bottom: 5px solid #263842;
    border: 5px solid #263842;
    text-align: center;
}
th, td{
    width: 100px;
    border: 5px solid #263842;
}
.pagination{
    display: flex;
    justify-content: center;
    align-content: flex-end;
    position: absolute;
    margin-top: 2px;
    margin-left: 1186px;
    font-family: sans-serif;

}

button{
    background-color: #EDC400;
    font-family: sans-serif;
    border-radius: 0.4rem;
}

.voirPlus{
    display: flex;
    justify-content: center;
    align-content: flex-end;
    position: absolute;
    margin-top: 13px;
    margin-left: 971px;

}
.h5{
    margin-left: 0vh;
    margin-top: 0vh;
}
